@import './variables.scss';
@import '~bulma';


html {
    background-color: #2A2D34;
}

body {
    margin: 10px;
}

.button {
    background: transparent;
    border: 2px solid $primary;
    color: $white;

    &.is-secondary-border {
        border: 2px solid $secondary !important;
    }
    &.is-secondary-border:hover {
        color: $primary;
        border: 2px solid $primary;
    }

    &.is-primary-border {
        border: 2px solid $primary !important;
    }
    &.is-primary-border:hover {
        color: $primary;
        border: 2px solid $primary;
    }
}

.button:focus {
    color: $primary;
    border: 2px solid $primary;
}

.is-custom-input {
    width: 50vw;
    max-width: 15rem;
    height: 2.4rem;
    border: 2px solid $primary;
    border-radius: 10px;
    background-color: $mainBackground;
    color: $secondary;
    font-size: 17px;
    padding: 0 0.5rem 0 0.5rem;
}

.gameWrapper {
    height: 120vh;
}
p {
    font-size: 20px;
}

.is-share-text {
    cursor: pointer;
}


//helpers
.is-primary {
    color: $primary;
}
.is-secondary {
    color: $secondary;
}
.is-white {
    color: $white;
}
.is-large {
    font-size: 100px;
}
.mt-7 {
    margin-top: 4rem !important;
}