@import './variables.scss';
@import '~bulma';


html {
    background-color: $mainBackground;
}

body {
    margin: 10px;
    margin-bottom: 15rem;
}

.button {
    background: transparent;
    border: 2px solid $primary;
    color: $white;

    &.is-secondary-border {
        border: 2px solid $secondary !important;
    }
    &.is-secondary-border:hover {
        color: $primary;
        border: 2px solid $primary;
    }

    &.is-primary-border {
        border: 2px solid $primary !important;
    }
    &.is-primary-border:hover {
        color: $primary;
        border: 2px solid $primary;
    }

    &.is-third-border {
        border: 2px solid $third !important;
    }
    &.is-third-border:hover {
        color: $fourth;
        border: 2px solid $third;
    }

    &.is-fourth-border {
        border: 2px solid $fourth !important;
    }
    &.is-fourth-border:hover {
        color: $fourth;
        border: 2px solid $fourth;
    }

    &.is-black-border {
        border: 2px solid #565656;
    }
    &.is-black-border:hover {
        color: #565656;
    }

    &.is-external-button-first,
    &.is-external-button-second {
        margin-top: 3rem;
    }
}

.button:focus {
    color: $primary;
    border: 2px solid $primary;
}

.is-custom-input {
    width: 50vw;
    max-width: 15rem;
    height: 2.4rem;
    border: 2px solid $primary;
    border-radius: 10px;
    background-color: transparent;
    color: $secondary;
    font-size: 17px;
    padding: 0 0.5rem 0 0.5rem;
}

.gameWrapper {
    height: 110vh;
}
p {
    font-size: 20px;
}

.is-share-text {
    cursor: pointer;
}

a.dropdown-item {
    padding-right: 1rem;

}

.dropdown-menu {
    min-width: 7rem;
}

.modal-content {
    overflow: hidden;
}

.is-tries {
    border: 1px solid $primary;
    border-radius: 50px;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    padding-top: 2px;
    margin-bottom: -0.5rem;
}


//helpers
.is-pointer {
    cursor: pointer;
}

.is-primary {
    color: $primary;
}
.is-secondary {
    color: $secondary;
}

.is-third {
    color: $third
}

.is-fourth {
    color: $fourth
}

.is-white {
    color: $white;
}
.is-large {
    font-size: 100px;
}
.mt-7 {
    margin-top: 4rem !important;
}
.mb-negative-1 {
    margin-bottom: -0.25rem;
}
.mb-negative-2 {
    margin-bottom: -0.5rem;
}

.mt-negative-1 {
    margin-top: -0.25rem !important;
}
.mt-negative-2 {
    margin-top: -0.5rem !important;
}
.mt-negative-3 {
    margin-top: -0.75rem !important;
}
.mt-negative-4 {
    margin-top: -1rem !important;
}
.mt-negative-5 {
    margin-top: -1.5rem !important;
}

.pb-30 {
    padding-bottom: 30rem;
}

.ad {
    position: fixed;
    bottom: 0rem;
    height: 62px;
    width: 236px;
    background: $mainBackground;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #818181;
}

@media (max-width: 620px) {
    .button {
        &.is-external-button-first {
            margin-top: 0rem;
        }
        &.is-external-button-second {
            margin-top: 0rem;
        }
    }
}
